:root {
  --COLOR-GRAY: #333333;
  --COLOR-GRAY-LIGHT: #CCCCCC;
  --COLOR-GRAY-DARK: #222222;
  --COLOR-ONGOING: #98C1D9;
  --COLOR-DONE: #EE6C4D;
  font-family: Helvetica;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}